---
import { Image } from 'astro:assets'
import { isExperience } from '@/types/cv';
import type { Experience, Education } from '@/types/cv';
import adobeLogo from '@/assets/brands/Adobe_Corporate_logo.svg'
import zomatoLogo from '@/assets/brands/Zomato_Logo.svg'
import samsungLogo from '@/assets/brands/samsung.svg'
import iitkgpLogo from '@/assets/brands/iitkgp.svg'
import rephraseLogo from '@/assets/brands/rephrase.png'

interface Props {
	elements: (Experience | Education)[]
	colored: boolean
}

const { elements, colored } = Astro.props
const logoMap = {
	adobe: adobeLogo,
	rephrase: rephraseLogo,
	zomato: zomatoLogo,
	samsung: samsungLogo,
	iitkgp: iitkgpLogo,
} as const

const logoSizeClassMap: Record<keyof typeof logoMap, string> = {
	adobe: 'max-h-8 max-w-20 scale-150',
	rephrase: 'max-h-20 max-w-32',
	zomato: 'max-h-7 max-w-20',
	samsung: 'max-h-8 max-w-24',
	iitkgp: 'max-h-30 max-w-48',
}

const logoTranslateYClassMap: Record<keyof typeof logoMap, string> = {
	adobe: 'translate-y-4',
	rephrase: 'translate-y-4',
	zomato: 'translate-y-4',
	samsung: 'translate-y-6',
	iitkgp: 'translate-y-5',
}

const logoTranslateXClassMap: Record<keyof typeof logoMap, string> = {
	adobe: 'translate-x-0',
	rephrase: '-translate-x-2',
	zomato: 'translate-x-0',
	samsung: 'translate-x-0',
	iitkgp: 'translate-x-0',
}
---

<ul
	class='timeline timeline-snap-icon max-md:timeline-compact timeline-vertical'
>
	{
		elements.map((element) => (
			<li>
				<div class='timeline-middle'>
					<svg
						xmlns='http://www.w3.org/2000/svg'
						viewBox='0 0 20 20'
						fill='currentColor'
            class:list={[{ 'text-accent': colored }, 'h-5 w-5']}
					>
						<path
							fill-rule='evenodd'
							d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z'
							clip-rule='evenodd'
						/>
					</svg>
				</div>
				<div class='timeline-start self-center justify-self-end mb-10 md:text-end'>
					{
						element.logoKey && (
							<div class='h-12 w-24 flex items-center justify-center'>
								<Image
									src={logoMap[element.logoKey]}
									alt={`${isExperience(element) ? element.company : element.school} logo`}
									class:list={[
										'object-contain',
										logoSizeClassMap[element.logoKey],
										logoTranslateYClassMap[element.logoKey],
										logoTranslateXClassMap[element.logoKey],
									]}
								/>
							</div>
						)
					}
				</div>
				<div class='timeline-end mb-10 md:text-start'>
					<time class='font-mono italic'>{element.time}</time>
					<div class='text-lg font-black'>{isExperience(element) ? element.title : element.degree}</div>
					<div>{element.description}</div>
					<div class='mt-1'>{isExperience(element) ? element.company : element.school}</div>
					<div>{element.location}</div>
				</div>
        <hr class:list={[{ 'bg-accent': colored }]} />
			</li>
		))
	}
</ul>
